:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.viewport-root {
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  display: block;
}
